%h1 Прибор энергосберегающий СД-02

#tabs
  %ul
    %li= link_to 'Прибор', '/'
    %li= link_to 'Как он работает', '/device/how'
    %li= link_to 'Сколько можно сэкономить', '/device/economy', :class => 'selected'
    %li= link_to 'Что говорят покупатели', '/device/reviews'
    
  = link_to 'Купить', new_order_path, :class => 'gold-button'
  
.article
  %p Для рационального использования электроэнергии требуется найти способы экономии электроэнергии при ее передаче, распределения и потребления с минимальными потерями. Для этого необходимо исключить из электрических сетей все факторы, приводящие к возникновению потерь. Одним из них является запаздывание фазы протекающего тока от напряжения при наличии индуктивной нагрузки, поскольку нагрузки в бытовых электросетях носят обычно <nobr>активно-индуктивный</nobr> характер. Активная энергия преобразуется в полезную &mdash; механическую, тепловую и др. энергии. Реактивная энергия не связана с выполнением полезной работы, а расходуется на создание магнитных полей и создаёт дополнительную нагрузку на силовые линии питания, <nobr>т. к.</nobr> она распространяется по сети, не рассеиваясь в активных элементах, а совершая колебательные движения от нагрузки к генератору и обратно. Доля потребляемой реактивной мощности в сети, в зависимости от вида полезной нагрузки, может составлять <strong>от 15% до 45%</strong> от полного тока нагрузки. Эти 15% &mdash; 45% электроэнергии и можно сэкономить, <nobr>т. к.</nobr> реактивная мощность наряду с активной мощностью учитывается поставщиком электроэнергии и подлежит оплате. Потребителем по действующим тарифам.

