%h1 Прибор энергосберегающий СД-02

#tabs
  %ul
    %li= link_to 'Прибор', '/'
    %li= link_to 'Как он работает', '/device/how', :class => 'selected'
    %li= link_to 'Сколько можно сэкономить', '/device/economy'
    %li= link_to 'Что говорят покупатели', '/device/reviews'
    
  = link_to 'Купить', new_order_path, :class => 'gold-button'
  
.article
  %p Устройство для экономии электроэнергии подключают в цепь "генератор-нагрузка" параллельно нагрузке после электросчётчика. При этом реактивные токи совершают локальные колебания между индуктивными элементами нагрузки и статическим преобразователем, а не циркулируют по сети переменного тока между питающим трансформатором и нагрузкой. Наличие в данном устройстве элементов для измерения и регулирования электрического тока позволяет пропустить активную электрическую мощность из сети в нагрузку, а реактивный ток перенаправлять в ту фазу нагрузки, в которой он в данный момент требуется. При этом происходит автоматическая стабилизация входного коэффициента мощности на уровне, близком к единице, а полезная мощность в нагрузке возрастает, за счет преобразования реактивной энергии в дополнительную активную.
  %p Экономия электроэнергии на 15%-45% достигается за счет совершенствования и нормализации структуры электрического потока, динамичного поглощения или освобождения реактивной мощности, сокращение вредных гармоник и вредных электромагнитных волн, сокращения потерь на сопротивление, устранения скачков напряжения в сети.

