%h1 Статьи

%table
  %tr
    %th Название
    %th Текст
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td
        %strong= article.title
      %td= truncate(strip_tags(article.text), :length => 80)
      %td= link_to 'Смотр.', article_path(article.alias)
      %td= link_to 'Редакт.', edit_article_path(article)
      %td= link_to 'Удал.', article, :confirm => 'Are you sure?', :method => :delete


%br

= link_to 'Создать статью', new_article_path
