%h1 Статьи

%table
  %tr
    %th Название
    %th Текст
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td
        %strong= article.title
      %td= truncate(strip_tags(article.text), :length => 80)
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete


%br

= link_to 'New Article', new_article_path
