%h1 Энергосберегатель

#tabs
  %ul
    %li= link_to 'Прибор', '/'
    %li= link_to 'Как он работает', '/device/how'
    %li= link_to 'Сколько можно сэкономить', '/device/economy'
    %li= link_to 'Что говорят покупатели', '/device/reviews', :class => 'selected'
    
  = link_to 'Купить', new_order_path, :class => 'gold-button'
  
  
.article
  <script type="text/javascript" src="/javascripts/flowplayer-3.2.6.min.js"></script>
  <a href="/video/_Energosberegatel_dtv_5m_DM_4101_PD_mpg.flv" style="display:block;width:480px;height:360px" id="player"></a> 
  <!-- this will install flowplayer inside previous A- tag. -->
  <script>flowplayer("player", "/video/flowplayer-3.2.7.swf");</script>

