%p#notice= notice

%h1
  = @article.title
  = link_to 'Купить', new_order_path, :class => 'gold-button'
  
- if session[:user_id]
  = link_to 'Редактировать', edit_article_path(@article)

<div id="#{@article.alias}">
= sanitize @article.text
</div>

