<a name="order_form">&nbsp;</a>
<%= form_for(@order, :url => '/#order_form') do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count=>@order.errors.size,
:model=>t('.order')) %>.</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  
  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index, :size => 6, :maxlength => 6 %>
  </div>
  
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :cols => 48, :rows => 3, 
                    :placeholder => 'Пример: ул. Ленина, д. 3-А, кв. 12' %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, :placeholder => 'Пример: +7 927 234 05 46' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :pay_type %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => 'Выберите способ оплаты' %>
  </div>
  
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.select :quantity, 1..10 %>
  </div>
  <div class="actions">
    <%= f.submit 'Сделать заказ'%>
  </div>
<% end %>
