

<a name="order_form">&nbsp;</a>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count=>@order.errors.size,
:model=>t('.order')) %>.</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="new_order_fieldset">
   <legend>Адрес доставки</legend>


  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  
  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index, :size => 6, :maxlength => 6 %>
    <span id="order_index_error"></span>
  </div>
  
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :cols => 48, :rows => 3, 
                    :placeholder => 'Пример: ул. Ленина, д. 3-А, кв. 12' %>
  </div>
  </fieldset>
  
  <div id="price">
    Цена: <strong><%= number_to_currency(Product.find(1).price) %></strong> <span id="old">2 450 руб.</span>
  </div>
  
  
  <fieldset class="new_order_fieldset">
  <legend>Заказ</legend>
  <div class="field">
    <%= f.label :pay_type %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => 'Выберите способ оплаты' %>
  </div>
  
    <div class="field">
     <%= f.label :quantity %><br />
     <%= f.select :quantity, 1..10 %>
    </div>
  </fieldset>

  
  
  
  <fieldset class="new_order_fieldset">
    <legend>Контактные данные</legend>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, :placeholder => 'Пример: +7 927 234 05 46' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  
  </fieldset>
  
  <br />
  <div class="actions">
    <%= f.submit 'Сделать заказ'%>
  </div>
<% end %>

<script language="javascript">
  $('#order_index').blur( function() {
    var index = event.target.value;
    if (index.length == 6)  {
      $.ajax({
        type: 'GET',
        url: '/parseindex',
        data: 'index=' + index,
        success: function(msg) {
          var splt = msg.split(';');
          
          var region = splt[0];
          var area = splt[1];
          var city = splt[2];
          
          $('#order_index_error').text('');
          $('#order_region').val(region);
          $('#order_area').val(area);
          $('#order_city').val(city);
         },
         error: function() {
          $('#order_region').val('');
          $('#order_area').val('');
          $('#order_city').val('');
          $('#order_index_error').text('Индекс не найден');
         }
       });
    }
  });
</script>

