

<a name="order_form">&nbsp;</a>
<%= form_for(@order, :as => :order, :url => orders_url) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count=>@order.errors.size,
:model=>t('.order')) %>.</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="new_order_fieldset">
   <legend>Адрес доставки</legend>


  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  
  <div class="field">
    <%= f.label :delivery_type %><br />
    <%= f.select :delivery_type, Order::DELIVERY_TYPES, { :prompt => 'Выберите способ доставки'}, { :class => 'new_order_select' }  %>
  </div>
  
  <div id="delivery_time" style="<%= 'display: none' if @order.delivery_type != Order::DeliveryType::COURIER %>">
  
    <div class="field">
      <%= f.label :city %><br />
      <%= select :delivery_time, :city, ['Москва', 'Санкт-Петербург'] %>
    </div>
    
    <p>Выберите удобное для вас время доставки:</p>
    <p><%= select :delivery_time, :date, delivery_dates %></p>
    <p>С <%= select :delivery_time, :from, OrdersController::DeliveryTime::DELIVERY_HOURS_FROM %> до <%= select :delivery_time, :to, OrdersController::DeliveryTime::DELIVERY_HOURS_TO %> часов</p>
  </div>

  
  <div id="postal_address" style="<%= 'display: none' if @order.delivery_type != Order::DeliveryType::POSTAL %>">
  <div class="field">
    <%= f.label :index %>&nbsp;<a id="find_index" href="http://russianpost.ru/rp/servise/ru/home/postuslug/searchops" target="_blank">Забыли свой индекс?</a><br />
    <%= f.text_field :index, :size => 6, :maxlength => 6 %>
    <span id="order_index_error"></span>
    
  </div>
  
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  </div> <!-- #postal_address -->
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :cols => 48, :rows => 3, 
                    :placeholder => 'Пример: ул. Ленина, д. 3-А, кв. 12' %>
  </div>
  </fieldset>
  
  <div id="price">
    Цена: <strong><%= number_to_currency(Product.find(1).price) %></strong> <span id="old">2 495 руб.</span>
  </div>
  
  
  <fieldset class="new_order_fieldset">
  <legend>Заказ</legend>
  <div class="field">
    <%= f.label :pay_type %><a id="pay_and_delivery" target="_blank" href="/articles/delivery">Подробнее про доставку и оплату</a><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, {:prompt => 'Выберите способ оплаты'}, { :class => 'new_order_select' }%>
  </div>
  
  
  
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.select :quantity, 1..10 %>&nbsp;шт.
    <span id="order_total">Итого:  <span id="order_total_sum"><%= @order.quantity*Product.find(1).price.to_i %></span> руб.</span>
  </div>
</fieldset>

  
  
  
  <fieldset class="new_order_fieldset">
    <legend>Контактные данные</legend>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, :placeholder => 'Пример: +7 927 234 05 46' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  
  </fieldset>
  
  <br />
  <div class="actions">
    <%= f.submit 'Сделать заказ'%>
  </div>
<% end %>

<script language="javascript">
  function loadOPSByIndex(index) {
  $.ajax({
        type: 'GET',
        url: '/parseindex',
        data: 'index=' + index,
        success: function(msg) {
          var splt = msg.split(';');
          
          var region = splt[0];
          var area = splt[1];
          var city = splt[2];
          
          $('#order_index_error').text('');
          $('#order_region').val(region);
          $('#order_area').val(area);
          $('#order_city').val(city);
         },
         error: function() {
          $('#order_region').val('');
          $('#order_area').val('');
          $('#order_city').val('');
          $('#order_index_error').text('Индекс не найден');
         }
      });
   }


  $('#order_index').autocomplete({ 
      source: '/searchindex',
      minLength: 3,
      select: function( event, ui ) {
        if (ui.item) {
          loadOPSByIndex(ui.item.value);
        }
			}
	 });

  $('#order_index').keyup( function(event) {
    var index = event.target.value;
    if (index.length == 6)  {
      loadOPSByIndex(index);
    }
  });

/*  $('#order_index').blur( function(event) {
    var index = event.target.value;
    if (index.length == 6)  {
      $.ajax({
        type: 'GET',
        url: '/parseindex',
        data: 'index=' + index,
        success: function(msg) {
          var splt = msg.split(';');
          
          var region = splt[0];
          var area = splt[1];
          var city = splt[2];
          
          $('#order_index_error').text('');
          $('#order_region').val(region);
          $('#order_area').val(area);
          $('#order_city').val(city);
         },
         error: function() {
          $('#order_region').val('');
          $('#order_area').val('');
          $('#order_city').val('');
          $('#order_index_error').text('Индекс не найден');
         }
       });
    }
  });
  */
  $('#order_quantity').change( function(event) {
    var quantity = event.target.value;
    $('#order_total_sum').text(<%= Product.find(1).price %>*quantity);
  });
  
  $('#order_delivery_type').change( function(event) {
    if (event.target.value == '<%= Order::DeliveryType::COURIER %>') {
      $('#order_pay_type').val('Наложенный платёж');
      // show delivery date and time controls
      $('#postal_address').hide('blind', 500);
      $('#delivery_time').show('blind', 500);
    } else {
      // hide delivery date and time controls
      $('#delivery_time').hide('blind', 500);
      $('#postal_address').show('blind', 500);
    }
  });
  
  $('#order_pay_type').change( function(event) {
    if (event.target.value == 'Робокасса') {
      if ($('#order_delivery_type').val() == '<%= Order::DeliveryType::COURIER %>') {
        $('#order_pay_type').val('Наложенный платёж');
        alert('Для курьерской доставки возможна только оплата наложенным платежом (наличными курьеру при получении товара)');
      }
    }
  });
  
  $('#delivery_time_from').change( function(event) {
    var from = parseInt($('#delivery_time_from').val());
    var to = parseInt($('#delivery_time_to').val());
    if ((to - from) < 3) {
      $('#delivery_time_to').val(from + 3);
    }
  });
  
  $('#delivery_time_to').change( function(event) {
    var from = parseInt($('#delivery_time_from').val());
    var to = parseInt($('#delivery_time_to').val());
    if ((to - from) < 3) {
      $('#delivery_time_from').val(to-3);
    }
  });

</script>

