:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23213950-4']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '#{@order.id}',           // order ID - required
    '220RU',  // affiliation or store name
    '#{@order.total_price}',          // total - required
    '0',           // tax
    '0',              // shipping
    '#{@order.city}',       // city
    '#{@order.region}',     // state or province
    'Russia'             // country
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each
  _gaq.push(['_addItem',
    '#{@order.id}',           // order ID - required
    '#{@order.line_items.first.product.id}',           // SKU/code - required
    '#{@order.line_items.first.product.title}',        // product name
    '',   // category or variation
    '#{@order.line_items.first.product.price}',          // unit price - required
    '#{@order.line_items.first.quantity}'               // quantity - required
  ]);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


%h2 Спасибо за ваш заказ!

%p
  Номер вашего заказа:
  %span#order_num #{flash[:order_id]}


- if @order.pay_type == Order::PaymentType::COD
  - if @order.delivery_type == Order::DeliveryType::POSTAL
    %p Ваш заказ принят и будет отправлен Почтой России в течении 24-х часов.
    %p
      На ваше имя поступит ценная бандероль от ООО "РБЛ" из г. Самара, весом примерно #{@order.quantity*225} г. с объявленной ценностью и наложенным платежом в размере
      = number_to_currency @order.total_price
    %p Если вы заказали более 2-х энергосберегателей, бандеролей будет несколько, т.к. в одну бандероль помещается не более 2-х энергосберегатлей.
  - elsif @order.delivery_type == Order::DeliveryType::COURIER
    %p Ваша заказ принят и будет доставлен вам курьером в указанный вами промежуток времени. 
    %p Если у вас возник вопрос по курьерской доставке вашего заказа в Москве или Санкт-Петербурге, вы можете обратиться непосредственно в курьерскую службу по телефонам +7(495) 669-3524 и +7(495) 740-6068
- else
  %p Ваш заказ принят и ожидает оплаты.
    

    
    
    

- if @order.pay_type == Order::PaymentType::ROBO
  = form_tag 'https://merchant.roboxchange.com/Index.aspx', :method => :post, :id => 'roboform' do
    = hidden_field_tag 'MrchLogin', 'energo220ru'
    = hidden_field_tag 'OutSum', @order.total_price
    = hidden_field_tag 'InvId', @order.id
    = hidden_field_tag 'IncCurrLabel', 'BANKOCEAN2R'
    = hidden_field_tag 'Desc', 'Энергосберегатель'
    = hidden_field_tag 'SignatureValue', @robo_signature
    = hidden_field_tag 'Culture', 'ru'
    = hidden_field_tag 'Encoding', 'utf-8'
    = submit_tag 'Оплатить >>'
    
  %p Если окно оплаты не открывается автоматически в течении 3-х секунд, нажмите кнопку "Оплатить >>"
    
  

:javascript
  if (document.forms['roboform'])
    setTimeout(function() { document.forms['roboform'].submit(); }, 1000);
  
