<h1>Заказы</h1>

<p>Фильтр: <%= select_tag_for_filter( 'orders', @filters, params ) %></p>

<table id="orders" cellspacing=0>
  <tr>
    <th width="20px"><%= t('.id') %></th>
    <th width="80px"><%= t('.date') %></th>
    <th width="100px"><%= t('.city') %></th>
    <th width="270x"><%= t('.client') %>/<%= t('.address') %></th>
    <th width="120px"><%= t('.pay_type') %></th>
    <th width="90px"><%= t('.quantity') %>/<%= t('.total_price') %></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr class="<%= cycle('line_odd', 'line_even') %>">
    <td><strong><%= order.id %></strong></td>
    <td><nobr><%= order.created_at.to_date %></nobr></td>
    <td><%= if order.city.length > 1 then order.city else order.region end %></td>
    <td>
      <div class="client-name"><%= order.client %></div>
      <div class="address"><%= order.address %></div>
    </td>
    <td><%= order.pay_type %></td>
    <td><%= order.total_quantity %> шт.<br/><%= number_to_currency(order.total_price) %></td>
    <td class="actions">
      <%= link_to 'Смотр.', order %><br />
      <%= link_to 'Редакт.', edit_order_path(order) %><br />
      <%= link_to 'Удал.', order, :confirm => 'Вы уверены?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый заказ', new_order_path %>
