<h1>Listing orders</h1>

<table>
  <tr>
    <th><%= t('.index') %></th>
    <th><%= t('.client') %></th>
    <th><%= t('.address') %></th>
    <th><%= t('.phone') %></th>
    <th><%= t('.email') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.index %></td>
    <td><%= order.client %></td>
    <td><%= order.address %></td>
    <td><%= order.phone %></td>
    <td><%= order.email %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
