<h1>Заказы</h1>

<table>
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.date') %></th>
    <th><%= t('.index') %></th>
    <th><%= t('.city') %></th>
    <th><%= t('.client') %></th>
    <th><%= t('.address') %></th>
    <th><%= t('.phone') %></th>
    <th><%= t('.email') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><strong><%= order.id %></strong></td>
    <td><%= order.created_at %></td>
    <td><%= order.index %></td>
    <td><%= order.city %></td>
    <td><%= order.client %></td>
    <td><%= order.address %></td>
    <td><%= order.phone %></td>
    <td><%= order.email %></td>
    <td><%= link_to 'Смотр.', order %></td>
    <td><%= link_to 'Ред.', edit_order_path(order) %></td>
    <td><%= link_to 'Удал.', order, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый заказ', new_order_path %>
