%h1.order_show
  %span.gray Заказ
  %span{ :class => [@order.canceled? && :canceled] }= @order.short_name
  
= link_to t('.edit'), edit_order_path(@order)
&nbsp;
= link_to 'К списку заказов', orders_path 


%p#notice= notice

%table#two_cols
  %tr
    %td

      %fieldset.order_show
        %legend Адрес
        = @order.index
        %br
        = (@order.region || '') + ', ' + (@order.area || '') + ', ' + (@order.city || '')
        %br
        = @order.address
        %br
        = @order.client
        
        
      %fieldset.order_show
        %legend Заказ
        
        %strong= t('.source') + ':'
        = @order.source
        %br

        - if @order.coupon
          %strong= t('.coupon') + ':'
          = @order.coupon
          %br
        
        - if @order.postal? and @order.post_num
          %strong= t('.post_num') + ':'
          = @order.post_num
          %br
        
        %strong= t('.status') + ':'
        = @order.status
        %br
        %strong= t('.pay_type') + ':'
        = @order.pay_type
        %br
        %strong= t('.delivery_type') + ':'
        = @order.delivery_type
        %br
        %strong= t('.quantity') + ':'
        = @order.total_quantity
        шт.
        %br
        %strong= t('.total_price') + ':'
        = number_to_currency @order.total_price




    %td
  
      %fieldset.order_show
        %legend Контакты
        = @order.phone
        %br
        = @order.email
          
        
      - if @phone_history          
        %fieldset.order_show
          %legend История звонков
          %table#phone_history{ :cellspacing => '0' }
            %tr
              %th Дата
              %th Город / Источник
              %th Суть обращения
              %th Длит. (мин)
            - @phone_history.elements.each('root/Call') do |call|
              %tr{ :class => cycle('odd', 'even') }
                %td= raw '<nobr>' + call.elements['Call_DateTime'].text.gsub('T' ,'</nobr><br />').gsub(/(\d{2}):(\d{2}):(\d{2}).(\d{3})/, '\1:\2:\3' )
                %td= call.elements['City_Name'].text + ' / ' + call.elements['InfoSource'].text
                %td= call.elements['Ref_Text'].text
                %td= call.elements['Call_Duration_Min'].text
              
              
                
      %fieldset.order_show.history
        %legend История заказа
          
        %table.order_history{ :cellspacing => '0' }
          - @order.order_events.each do |event|
            %tr{ :class => cycle('odd', 'even')  }
              %td= event.created_at.strftime '%Y-%m-%d %H:%M:%S'
              %td= event.description

        
        





- if @order.postal? and @order.post_num
  %fieldset#post_history
    %legend Почтовая история
    = raw @post_history_table_html




