<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @order.index %>
</p>

<p>
  <b>Client:</b>
  <%= @order.client %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
