%h1.order_show
  %span.gray Заказ
  = @order.short_name
  
= link_to t('.edit'), edit_order_path(@order)
= link_to t('.back'), orders_path 


%p#notice= notice


%fieldset.order_show
  %legend Адрес
  = @order.index
  %br
  = @order.region + ', ' + (@order.area || '') + ', ' + (@order.city || '')
  %br
  = @order.address
  %br
  = @order.client
  
  
  
  
%fieldset.order_show
  %legend Контакты
  = @order.phone
  %br
  = @order.email
  
  
  
%fieldset.order_show
  %legend Заказ
  %strong= t('.pay_type') + ':'
  = @order.pay_type
  %br
  %strong= t('.delivery_type') + ':'
  = @order.delivery_type
  %br
  %strong= t('.quantity') + ':'
  = @order.total_quantity
  шт.
  %br
  %strong= t('.total_price') + ':'
  = number_to_currency @order.total_price



%fieldset.order_show.history
  %legend История
    
  %table.order_history{ :cellspacing => '0' }
    %tr.even
      %td 21-06-2011
      %td Создан
    %tr.odd
      %td 22-06-2011
      %td Оплачен
    %tr.even
      %td 24-06-2011
      %td Отправлен

  




    




