!!! 5
%html
  %head
    %title Магазин энергосберегающих устройств 220 РУ
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    #box
      %h1 Магазин энергосбережения 220 РУ
      %h2 8-800-100-10-10 &mdash; бесплатная горячая линия
      
      #menu
        =link_to 'Начало', '/'
        |
        =link_to 'Прибор', article_path(1)
        |
        =link_to 'Доставка', article_path(2)
        
        - if session[:user_id]
          |
          = link_to 'Товары', products_path
          |
          = link_to 'Заказы', orders_path
          |
          = link_to 'Пользователи', users_path
          |
          = link_to 'Выход', logout_path, :method => :delete
      
        
      
      = yield
      
      #footer
        Все права защищены. ООО "РБЛ", 2011 г.
